<!DOCTYPE html>
<html>
  <head>
    <title>AITutor</title>
    {{> head}}
  </head>
  <body>
    <div class="container">
      <center>
              <div class="jumbotron">
        <h1>AI Tutoring</h1>
        <p>Welcome to your AI based smart tutoring app.</p>
        <p>
          <div>
            <br>
            <div style='position:relative;left:0px'>
              <a  href="/signup"><button class="btn btn-info btn-lg">Sign Up</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a  style='position:relative;left:0px' href="/login"><button class="btn btn-primary btn-lg">Log In</button></a>
            </div>
          </div>
        </p>
        <br>
        <br>
        <img src='img/ai.jpg'>
        <br>
        <br>
      </div>
      </center>
    </div>
  </body>
</html>
